# Ignore everything by default
*

# Allow these specific root files
!hooded_plover_demography.qmd
!hooded_plover_demography.html
!hooded_plover_demography.Rproj
!README.md

# Allow these directories and everything inside them
!data/
!data/**
!output/
!output/**

# Still ignore RStudio-specific and temporary files
.Rproj.user/
.Rhistory
.RData
.Ruserdata